@charset "UTF-8";
* {
box-sizing: border-box;
}

html {
font-size: 10px;
}

@media screen and (max-width: 1000px) {
html {
font-size: 1.0vw;
}
}

body {
font-family: "Noto Serif JP", serif;
}

.far.fa-envelope {
font-size: 2.4rem;
color: white;
}

.sp-only,
.pc-none {
display: none;
}

@media screen and (max-width: 499px) {
.sp-only {
display: block;
}
.sp-none {
display: none;
}
}

@media screen and (max-width: 767px) {
html {
font-size: 1em;
}
}

@media screen and (max-width: 767px) {
.pc-none {
display: block;
}
.pc-only {
display: none;
}
}

/* header */
.header {
width: 100%;
padding: 0 10px;
}

#header {
position: fixed;
z-index: 100;
background-color: #fff;
width: 100%;
}

.header__wrapper {
width: 100%;
max-width: 1000px;
margin: 0 auto;
padding: 15px 0 15px;
display: flex;
justify-content: space-between;
align-items: flex-end;
}

.header__content {
font-size: 1.5rem;
}

.header__topLink {
display: inline-block;
width: 373px;
margin-top: 9px;
}

.header__logo {
width: 100%;
object-fit: cover;
}

.header__link {
display: inline-block;
width: 300px;
text-decoration: none;
background-color: #032b6d;
border-radius: 50px;
padding: 23px 0;
display: flex;
justify-content: center;
align-items: center;
}

.header__button {
color: white;
font-size: 1.6rem;
line-height: 1.2;
margin-left: 18px;
}

@media screen and (max-width: 767px) {
.header {
padding: 0;
}
.header__wrapper {
padding: 0;
align-items: center;
}
.header__content {
display: none;
}
.header__container.left {
width: 50%;
padding: 0 0 5px 10px;
}
.header__topLink {
width: 100%;
}
.header__container.right {
width: 50%;
display: flex;
justify-content: flex-end;
}
.header__link {
width: 14vw;
height: 14vw;
border-radius: 0;
padding: 0;
flex-direction: column;
}
.header__button {
margin-left: 0;
margin-top: 1.3vw;
font-size: 1em;
}
.fa-envelope:before {
content: "\f0e0";
/* font-size: 0.9em; */
}
.far.fa-envelope {
font-size: 1.5em;
color: white;
}
}

@media screen and (max-width: 499px) {
.header__button {
margin-left: 0;
margin-top: 1.3vw;
font-size: 0.8em;
}
}

.fv {
width: 100%;
}

.fv__wrapper {
width: 100%;
height: 55vw;
background: url(../images/bg_fv_001.jpg) no-repeat center center/cover;
position: relative;
}

.fv__container {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 100%;
}

.fv__box.top {
width: 100%;
text-align: center;
background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(123, 142, 178, 0.52) 30%, rgba(3, 40, 109, 0.8) 50%, rgba(123, 142, 178, 0.52) 70%, rgba(255, 255, 255, 0) 100%);
padding: 28px 0;
border-top: rgba(3, 43, 109, 0.35) 4px solid;
border-bottom: rgba(3, 43, 109, 0.35) 4px solid;
}

.fv__box.bottom {
margin-top: 51px;
}

.fv__content {
font-size: 2.7rem;
color: #ffffff;
text-shadow: 2px 2px 3px #231815, -2px 2px 3px #231815, 2px -2px 3px #231815, -2px -2px 3px #231815, 2px 0px 3px #231815, 0px 2px 3px #231815, -2px 0px 3px #231815, 0px -2px 3px #231815;
/* 文字の影 */
}

.fv__title {
font-size: 5.4rem;
color: #ffffff;
text-shadow: 2px 2px 3px #231815, -2px 2px 3px #231815, 2px -2px 3px #231815, -2px -2px 3px #231815, 2px 0px 3px #231815, 0px 2px 3px #231815, -2px 0px 3px #231815, 0px -2px 3px #231815;
margin-top: 28px;
}

.fv__link {
display: inline-block;
width: 300px;
text-decoration: none;
background-color: #032b6d;
border-radius: 50px;
padding: 23px 0;
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
}

.fv__button {
color: white;
font-size: 1.6rem;
margin-left: 18px;
}

.fv__thirdContent {
position: absolute;
bottom: 0;
left: 0;
background: url(../images/bg_fv_002.jpg) no-repeat center center/cover;
width: 100%;
text-align: center;
padding: 10px 0;
font-size: 2.4rem;
color: #ffffff;
}

@media screen and (max-width: 767px) {
.fv__wrapper {
width: 100%;
height: 57vw;
background: url(../images/bg_fv_001.jpg) no-repeat center center/cover;
position: relative;
}
.fv__box.bottom {
margin-top: 2.2vw;
}
.fv__box.top {
width: 100%;
text-align: center;
background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(123, 142, 178, 0.52) 30%, rgba(3, 40, 109, 0.8) 50%, rgba(123, 142, 178, 0.52) 70%, rgba(255, 255, 255, 0) 100%);
padding: 10px 0;
border-top: rgba(3, 43, 109, 0.35) 4px solid;
border-bottom: rgba(3, 43, 109, 0.35) 4px solid;
}
.fv__content {
font-size: 1.1em;
color: #ffffff;
text-shadow: 2px 2px 3px #231815, -2px 2px 3px #231815, 2px -2px 3px #231815, -2px -2px 3px #231815, 2px 0px 3px #231815, 0px 2px 3px #231815, -2px 0px 3px #231815, 0px -2px 3px #231815;
}
.fv__title {
margin-top: 2.8vw;
}
.fv__title {
font-size: 2em;
color: #ffffff;
text-shadow: 2px 2px 3px #231815, -2px 2px 3px #231815, 2px -2px 3px #231815, -2px -2px 3px #231815, 2px 0px 3px #231815, 0px 2px 3px #231815, -2px 0px 3px #231815, 0px -2px 3px #231815;
margin-top: 28px;
}
.fv__link {
width: 50%;
padding: 10px 0px;
}
.fv__thirdContent {
position: absolute;
bottom: 0;
left: 0;
background: url(../images/bg_fv_002.jpg) no-repeat center center/cover;
width: 100%;
text-align: center;
padding: 13px 5px;
font-size: 1em;
color: #ffffff;
}
.fv__button {
color: white;
font-size: 1.1em;
margin-left: 18px;
}
}

@media screen and (max-width: 499px) {
.fv__wrapper {
height: 70vw;
}
.fv__box.top {
padding: 14px 0;
}
.fv__title {
margin-top: 14px;
font-size: 1.5em;
}
.fv__button {
margin-left: 12px;
font-size: 1em;
}
.fv__thirdContent {
padding: 12px 0;
line-height: 1.4;
font-size: 0.9em;
}
.fv__content {
font-size: 0.8em;
color: #ffffff;
text-shadow: 2px 2px 3px #231815, -2px 2px 3px #231815, 2px -2px 3px #231815, -2px -2px 3px #231815, 2px 0px 3px #231815, 0px 2px 3px #231815, -2px 0px 3px #231815, 0px -2px 3px #231815;
}
.fv__link {
width: 50%;
padding: 5px 0px;
}
.far.fa-envelope {
font-size: 1em;
color: white;
}
}

.style {
width: 100%;
}

.style__wrapper {
width: 100%;
margin-top: 56px;
padding: 2.9vw 10px 3.1vw;
background: url(../images/bg_style_001.jpg) no-repeat center center/cover;
}

.style__container.first {
width: 100%;
max-width: 980px;
padding: 0 18px;
margin: 0 auto;
}

.style__image {
width: 100%;
object-fit: cover;
}

.style__title {
font-size: 4.6rem;
color: #000000;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
}

.style__title.bottom {
font-size: 5.8rem;
color: #032b6d;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
text-align: end;
margin-top: 1.7vw;
}

.style__container.second {
width: 100%;
max-width: 900px;
margin: 5.1vw auto 0;
padding: 29px 10px;
background: url(../images/bg_style_002.jpg) no-repeat center center/contain;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}

.style__subTitle.top {
font-size: 3.2rem;
}

.style__subTitle.bottom {
font-size: 4.6rem;
color: #032b6d;
margin-top: 32px;
}

.style__container.third {
width: 100%;
max-width: 720px;
padding: 0 20px;
margin: 55px auto 0;
}

.style__content {
font-size: 1.8rem;
line-height: 2.08;
}

@media screen and (max-width: 767px) {
.style__title {
font-size: 1.8em;
color: #000000;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
}
.style__title.bottom {
font-size: 1.8em;
color: #032b6d;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
text-align: end;
margin-top: 1.7vw;
}
.style__subTitle.top {
font-size: 1.3em;
}
.style__subTitle.bottom {
font-size: 1.5em;
color: #032b6d;
margin-top: 32px;
}
.style__content {
font-size: 1.2em;
line-height: 2.08;
}
}

@media screen and (max-width: 499px) {
.style__wrapper {
margin-top: 36px;
}
.style__container.second {
padding: 19px 10px;
}
.style__subTitle.top {
font-size: 1.2em;
}
.style__subTitle.bottom {
margin-top: 16px;
font-size: 1.3em;
}
.style__container.third {
margin: 35px auto 0;
}
.style__title {
font-size: 1.3em;
color: #000000;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
}
.style__title.bottom {
font-size: 1.3em;
color: #032b6d;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
text-align: end;
margin-top: 1.7vw;
}
.style__content {
font-size: 1.1em;
line-height: 27px;
}
}

.flow {
width: 100%;
margin-top: 97px;
}

.flow__wrapper {
width: 100%;
height: 36.4vw;
background: url(../images/bg_flow_001.jpg) no-repeat center top/cover;
padding: 8.1vw 0;
}

.flow__title.top {
text-align: center;
font-size: 4.2rem;
color: #000000;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
}

.flow__title.bottom {
text-align: center;
font-size: 5.4rem;
color: #032b6d;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
margin-top: 32px;
}

.flow__container {
width: 100%;
max-width: 1000px;
padding: 0 10px;
margin: -12.2vw auto 0;
background: transparent;
}

.flow__box.image {
width: 100%;
margin-top: 14.5px;
}

.flow__box.image:first-of-type {
margin-top: 0;
}

.flow__image {
width: 100%;
object-fit: cover;
}

.flow__box.arrow {
width: 5.5vw;
margin: 14.5px auto 0;
}

.flow__arrow {
width: 100%;
object-fit: cover;
}

@media screen and (max-width: 767px) {
.flow__title.top {
text-align: center;
font-size: 1.5em;
color: #000000;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
}
.flow__title.bottom {
margin-top: 16px;
font-size: 2em;
}
.flow__container {
margin: -8.2vw auto 0;
}
.flow__box.image {
margin-top: 1.9vw;
}
.flow__box.arrow {
margin: 1.9vw auto 0;
}
}

.features {
width: 100%;
margin-top: 173px;
}

.features__wrapper {
width: 100%;
max-width: 1000px;
margin: 0 auto;
padding: 0 10px;
}

.features__title {
background: url(../images/bg_features_001.jpg) no-repeat center center/cover;
font-size: 5rem;
color: #ffffff;
text-align: center;
padding: 20px 0;
}

.features__title > span {
font-size: 3.2rem;
color: #ffffff;
vertical-align: text-bottom;
}

.features__subTitle {
margin-top: 84px;
list-style-type: none;
padding: 0 45px;
}

.features__list {
font-size: 2.8rem;
border: 5px transparent solid;
padding: 14px 0 20px 15px;
border-image: url(../images/bg_features_002.jpg);
border-image-slice: 1;
border-image-repeat: stretch;
border-top: none;
margin-top: 55px;
display: flex;
align-items: center;
}

.features__list:first-of-type {
margin-top: 0;
}

.features__list > span {
font-size: 3.6rem;
color: #032b6d;
}

.features__list:before {
display: inline-block;
content: "◆";
}

@media screen and (max-width: 767px) {
.features {
margin-top: 88px;
}
.features__title {
background: url(../images/bg_features_001.jpg) no-repeat center center/cover;
font-size: 1.8em;
color: #ffffff;
text-align: center;
padding: 20px 0;
}
.features__title > span {
font-size: 0.6em;
color: #ffffff;
vertical-align: text-bottom;
}
.features__subTitle {
margin-top: 42px;
padding: 0 5.5vw;
}
.features__list {
margin-top: 30px;
font-size: 1em;
}
.features__list > span {
margin-left: 15px;
font-size: 1.5em;
color: #032b6d;
}
}

@media screen and (max-width: 499px) {
.features__subTitle {
margin-top: 30px;
padding: 0 3vw;
}
.features__list {
padding: 7px 0 10px 8px;
}
}

.price {
width: 100%;
margin-top: 200px;
}

.price__wrapper {
width: 100%;
height: 36.4vw;
background: url(../images/bg_price_001.jpg) no-repeat center top/cover;
padding: 8.1vw 0;
}

.price__title.top, .price__title.bottom {
text-align: center;
font-size: 3.6rem;
color: #000000;
letter-spacing: 3px;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
}

.price__title.top > span,
.price__title.bottom > span {
font-size: 5rem;
color: #032b6d;
letter-spacing: 3px;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
}

.price__title.bottom {
margin-top: 2.6vw;
}

.price__container {
width: 100%;
max-width: 1000px;
padding: 0 10px;
margin: -8vw auto 0;
background: transparent;
}

.price__content {
width: 100%;
max-width: 538px;
margin: 0 auto;
font-size: 1.8rem;
line-height: 1.75;
}

.price__box {
width: 100%;
margin-top: 100px;
}

.price__imageBox {
width: 100%;
}

.price__image {
width: 100%;
object-fit: cover;
}

.price__description {
display: inline-block;
width: 100%;
font-size: 2.4rem;
text-align: center;
line-height: 1.75;
margin-top: 28px;
}

.price__box.second {
margin-top: 183px;
background: url(../images/bg_price_002.jpg) no-repeat center center/cover;
padding: 30px 0;
}

.price__subTitle {
font-size: 2.8rem;
color: #ffffff;
text-align: center;
margin-top: 27px;
}

.price__subTitle:first-of-type {
margin-top: 0;
}

.price__subTitle:last-of-type {
margin-top: 18px;
}

.price__subTitle > span {
color: #fff000;
}

.price__subTitle.bottom > span {
font-size: 4.2rem;
}

.price__box.third {
width: 100%;
margin-top: 76px;
overflow: hidden;
}

.price__image.third {
width: 116.3%;
object-fit: cover;
}

.price__box.forth {
width: 100%;
display: flex;
justify-content: space-between;
margin-top: 19px;
}

.price__image.left, .price__image.right {
width: 49%;
}

@media screen and (max-width: 767px) {
.price {
margin-top: 13vw;
}
.price__wrapper {
width: 100%;
height: 36.4vw;
background: url(../images/bg_price_001.jpg) no-repeat center top/cover;
padding: 8.1vw 5px;
}
.price__title.top, .price__title.bottom {
text-align: center;
font-size: 1.5em;
color: #000000;
letter-spacing: 3px;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
}
.price__title.top > span, .price__title.bottom > span {
font-size: 1.4em;
color: #032b6d;
letter-spacing: 3px;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
}
.price__container {
margin: 0 auto 0;
}
.price__box {
margin-top: 46px;
}
.price__content {
width: 100%;
max-width: 538px;
margin: 0 auto;
font-size: 1.2em;
line-height: 1.75;
}
.price__description {
margin-top: 14px;
font-size: 0.9em;
}
.price__box.second {
margin-top: 10.5vw;
}
.price__box.third {
margin-top: 38px;
}
.price__subTitle {
font-size: 1.3em;
color: #ffffff;
text-align: center;
margin-top: 27px;
}
.price__subTitle.bottom > span {
font-size: 1.5em;
}
}

@media screen and (max-width: 499px) {
.price__title.top, .price__title.bottom {
text-align: center;
font-size: 1.3em;
color: #000000;
letter-spacing: 3px;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
}
.price__title.top > span, .price__title.bottom > span {
font-size: 1em;
color: #032b6d;
letter-spacing: 3px;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
}
.price__content {
width: 100%;
max-width: 538px;
margin: 0 auto;
font-size: 1.1em;
line-height: 27px;
}
.price__description {
margin-top: 14px;
font-size: 0.7em;
}
.price__subTitle {
font-size: 1.1em;
color: #ffffff;
text-align: center;
margin-top: 27px;
}
.price__subTitle.bottom > span {
font-size: 1.2em;
}
}

.compare {
width: 100%;
margin-top: 141px;
}

.compare__wrapper {
width: 100%;
max-width: 980px;
margin: 0 auto;
}

.compare__title {
background: url(../images/bg_compare_001.jpg) no-repeat center center/cover;
padding: 28px 0;
text-align: center;
font-size: 2.8rem;
color: #ffffff;
}

.compare__title > span {
font-size: 3.6rem;
color: #fff000;
}

.compare__container {
display: flex;
align-items: center;
margin-top: 36px;
}

.compare__content {
padding: 0 35px;
font-size: 1.8rem;
line-height: 1.75;
}

.compare__icon {
width: 315px;
padding: 0 60px 0 100px;
}

@media screen and (max-width: 767px) {
.compare {
margin-top: 18.3vw;
}
.compare__title {
background: url(../images/bg_compare_001.jpg) no-repeat center center/cover;
padding: 28px 0;
text-align: center;
font-size: 1.3em;
color: #ffffff;
}
.compare__title > span {
font-size: 1.6em;
color: #fff000;
}
.compare__content {
padding: 0 5vw;
width: 73%;
font-size: 1.1em;
}
.compare__icon {
width: 27%;
max-width: 315px;
padding: 0 8vw 0 0;
}
}

@media screen and (max-width: 499px) {
.compare__title {
background: url(../images/bg_compare_001.jpg) no-repeat center center/cover;
padding: 28px 0;
text-align: center;
font-size: 1.4em;
color: #ffffff;
}
.compare__title > span {
font-size: 1.4em;
color: #fff000;
}
.compare__container {
display: block;
align-items: center;
margin-top: 36px;
}
.compare__content {
padding: 0 5vw;
width: 100%;
font-size: 1.1em;
line-height: 27px;
}
.compare__icon {
width: 315px;
padding: 0 60px 0 100px;
}
}

.service {
width: 100%;
margin-top: 215px;
}

.service__wrapper.first {
width: 100%;
background: url(../images/bg_service_001.jpg) no-repeat center top/cover;
padding: 81px 10px 150px;
}

.service__container.first.top {
width: 100%;
padding: 67px 0;
}

.service__title.first {
font-size: 4rem;
color: #000000;
letter-spacing: 1.5px;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
text-align: center;
}

.service__title.first.bottom {
font-size: 4.8rem;
color: #032b6d;
letter-spacing: 1.5px;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
margin-top: 30px;
}

.service__container.first.bottom {
width: 100%;
max-width: 763px;
margin: 56px auto 0;
}

.service__image.first {
width: 100%;
object-fit: cover;
}

.service__description.first {
padding: 0 6px;
margin-top: 40px;
font-size: 1.8rem;
line-height: 2.4;
}

.service__wrapper.second {
width: 100%;
padding-top: 150px;
}

.service__container.second.top {
background: url(../images/bg_service_002.jpg) no-repeat center center/contain;
padding: 83px 0;
text-align: center;
}

.service__subTitle.second {
font-size: 2.6rem;
color: #000000;
letter-spacing: 2.6px;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
text-align: center;
}

.service__subTitle.second.bottom {
font-size: 3rem;
color: #032b6d;
letter-spacing: 3px;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
margin-top: 28px;
}

.service__container.second.bottom {
width: 100%;
max-width: 774px;
margin: 36px auto 0;
text-align: center;
}

.service__image.second {
width: 100%;
object-fit: cover;
}

.service__description.second {
font-size: 1.8rem;
line-height: 3.08;
margin-top: 36px;
padding: 0 12px;
text-align: start;
}

.service__wrapper.third {
width: 100%;
background: url(../images/bg_service_003.jpg) no-repeat center top/cover;
padding-top: 90px;
padding-bottom: 162px;
margin-top: 166px;
}

.service__container.third.top {
width: 100%;
padding: 73px 0;
display: flex;
justify-content: center;
align-items: baseline;
}

.service__title.third {
font-size: 4rem;
color: #000000;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
text-align: center;
}

.service__title.third > span {
font-size: 4.6rem;
color: #032b6d;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
}

.service__title.third.bottom {
margin-left: 10px;
}

.service__container.third.bottom {
width: 100%;
max-width: 980px;
margin: 103px auto 0;
}

.service__box.third.top {
display: flex;
width: 100%;
}

.service__inner.third.left {
width: 62.4%;
padding-right: 30px;
}

.service__image.third.top.left {
width: 100%;
object-fit: cover;
}

.service__inner.third.right {
width: 37.6%;
padding-right: 80px;
padding-bottom: 5px;
}

.service__description.third.top {
font-size: 1.8rem;
line-height: 1.75;
}

.service__image.third.top.right {
width: 84.6%;
object-fit: cover;
margin-top: 12px;
}

.service__description.third.bottom {
font-size: 1.8rem;
line-height: 1.64;
margin-top: 12px;
}

.service__box.third.bottom {
width: 100%;
display: flex;
justify-content: space-between;
margin-top: 35px;
}

.service__inner.third.bottom.left {
padding: 0;
width: 48.7%;
text-align: center;
}

.service__image.third.bottom.left {
width: 100%;
object-fit: cover;
}

.service__description.third.bottom.left {
font-size: 1.8rem;
line-height: 1.64;
padding: 0 15px;
margin-top: 6px;
}

.service__inner.third.bottom.right {
width: 48.7%;
padding: 0;
}

.service__image.third.bottom.right {
width: 100%;
object-fit: cover;
}

.service__description.third.bottom.right {
font-size: 1.8rem;
line-height: 1.64;
padding: 0 40px;
margin-top: 6px;
}

.service__wrapper.forth {
width: 100%;
padding-bottom: 180px;
}

.service__title.forth {
background: url(../images/bg_service_002.jpg) no-repeat center center/contain;
padding: 83px 0;
margin-top: 140px;
text-align: center;
}

.service__title.forth {
font-size: 3.2rem;
color: #000000;
letter-spacing: 2.6px;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
text-align: center;
}

.service__title.forth > span {
font-size: 4.4rem;
color: #032b6d;
letter-spacing: 3px;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
margin-top: 28px;
}

.service__description.forth {
width: 100%;
max-width: 916px;
margin: 90px auto 0;
padding: 0 10px;
font-size: 1.8rem;
line-height: 2.3;
}

.service__box.forth.top {
width: 100%;
max-width: 1000px;
display: flex;
justify-content: space-between;
margin: 58px auto 0;
padding: 0 10px;
}

.service__inner.forth.top.left {
width: 49.3%;
}

.service__image.forth.top.left {
width: 100%;
object-fit: cover;
}

.service__inner.forth.top.right {
width: 49.3%;
}

.service__image.forth.top.right {
width: 100%;
object-fit: cover;
}

.service__box.forth.bottom {
width: 100%;
max-width: 1000px;
display: flex;
justify-content: space-between;
margin: 12px auto 0;
padding: 0 10px;
}

.service__inner.forth.bottom.left {
width: 49.3%;
}

.service__image.forth.bottom.left {
width: 100%;
object-fit: cover;
}

.service__inner.forth.bottom.right {
width: 49.3%;
}

.service__image.forth.bottom.right {
width: 100%;
object-fit: cover;
}

@media screen and (max-width: 767px) {
.service {
margin-top: 14.3vw;
}
.service__wrapper.first {
padding: 10.5vw 10px 20.3vw;
}
.service__title.first {
font-size: 2em;
color: #000000;
letter-spacing: 1.5px;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
text-align: center;
}
.service__container.first.top {
padding: 8.7vw 0;
}
.service__title.first.bottom {
margin-top: 16px;
font-size: 2em;
}
.service__container.first.bottom {
margin: 7.3vw auto 0;
}
.service__description.first {
margin-top: 20px;
font-size: 1.2em;
}
.service__wrapper.second {
padding: 0 10px 0;
}
.service__container.second.top {
padding: 10.8vw 0;
}
.service__subTitle.second {
line-height: 1.5;
font-size: 1.7em;
}
.service__subTitle.second.bottom {
margin-top: 3.6vw;
font-size: 1.4em;
}
.service__container.second.bottom {
margin: 20px auto 0;
}
.service__description.second {
margin-top: 20px;
padding: 0 1.5vw;
font-size: 1.2em;
}
.service__wrapper.third {
background: url(../images/bg_service_003.jpg) no-repeat center top/contain;
padding-top: 0;
padding-bottom: 14vw;
margin-top: 76px;
}
.service__container.third.top {
display: block;
padding: 6vw 0;
}
.service__title.third.bottom {
margin: 12px 0 0 0;
}
.service__container.third.bottom {
margin: 6.5vw auto 0;
}
.service__box.third.top {
flex-direction: column;
}
.service__inner.third.left {
width: 100%;
padding: 0 10px;
}
.service__inner.third.right {
width: 100%;
padding: 0 10px 5px;
}
.service__description.third.top {
margin-top: 12px;
padding: 0 10px;
font-size: 1.2em;
}
.service__image.third.top.right > img {
width: 100%;
object-fit: cover;
margin-top: 35px;
}
.service__title.third {
font-size: 2.4em;
color: #000000;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
text-align: center;
}
.service__title.third > span {
font-size: 1em;
color: #032b6d;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
}
.service__description.third.bottom {
padding: 0 10px;
font-size: 1.2em;
}
.service__box.third.bottom {
flex-direction: column;
}
.service__inner.third.bottom.left {
padding: 0 10px;
width: 100%;
}
.service__description.third.bottom.left {
padding: 0 10px;
text-align: start;
font-size: 1.2em;
}
.service__inner.third.bottom.right {
width: 100%;
padding: 0 10px;
}
.service__image.third.bottom.right {
margin-top: 35px;
}
.service__description.third.bottom.right {
padding: 0 10px;
text-align: start;
font-size: 1.2em;
}
.service__wrapper.forth {
padding-bottom: 23vw;
}
.service__title.forth {
padding: 11vw 0;
margin-top: 0;
}
.service__title.forth {
line-height: 1.4;
font-size: 2em;
}
.service__title.forth > span {
font-size: 1em;
color: #032b6d;
letter-spacing: 3px;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
margin-top: 28px;
}
.service__description.forth {
margin: 12vw auto 0;
font-size: 1.2em;
}
.service__box.forth.top {
flex-direction: column;
margin: 7.5vw auto 0;
}
.service__inner.forth.top.left {
width: 100%;
}
.service__inner.forth.top.right {
width: 100%;
margin-top: 12px;
}
.service__box.forth.bottom {
flex-direction: column;
}
.service__inner.forth.bottom.left {
width: 100%;
}
.service__inner.forth.bottom.right {
width: 100%;
margin-top: 12px;
}
}

@media screen and (max-width: 499px) {
.service__title.first {
font-size: 1.8em;
color: #000000;
letter-spacing: 1.5px;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
text-align: center;
}
.service__title.first.bottom {
margin-top: 16px;
font-size: 1.8em;
}
.service__description.first {
margin-top: 20px;
font-size: 1em;
line-height: 27px;
}
.service__subTitle.second {
line-height: 1.5;
font-size: 1.3em;
}
.service__subTitle.second.bottom {
margin-top: 3.6vw;
font-size: 1.6em;
}
.service__description.second {
margin-top: 20px;
padding: 0 1.5vw;
font-size: 1em;
line-height: 27px;
}
.service__title.third {
font-size: 1.7em;
color: #000000;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
text-align: center;
}
.service__description.third.top {
margin-top: 12px;
padding: 0 10px;
font-size: 1em;
line-height: 27px;
}
.service__description.third.bottom {
padding: 0 10px;
font-size: 1em;
}
.service__description.third.bottom.left {
padding: 0 10px;
text-align: start;
font-size: 1em;
line-height: 27px;
}
.service__description.third.bottom.right {
padding: 0 10px;
text-align: start;
font-size: 1em;
line-height: 27px;
}
.service__title.forth {
line-height: 1.4;
font-size: 1.8em;
}
.service__description.forth {
margin: 0 auto 0;
font-size: 1.1em;
line-height: 27px;
}
}

.access {
width: 100%;
}

.access__wrapper {
width: 100%;
background: url(../images/bg_access_001.jpg) no-repeat center top/contain;
padding: 5vw 0 136px;
}

.access__container.first {
width: 100%;
max-width: 980px;
padding: 2.5vw 0 2.9vw;
margin: 0 auto;
}

.access__title.top {
text-align: center;
font-size: 4.6rem;
color: #032b6d;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
}

.access__title.bottom {
text-align: center;
font-size: 4rem;
color: #000000;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
margin-top: 1.8vw;
}

.access__content {
font-size: 1.8rem;
line-height: 1.75;
text-align: center;
margin-top: 3.7vw;
padding: 0 10px;
}

.access__container.second {
width: 100%;
max-width: 1000px;
margin: 89px auto 0;
padding: 0 10px;
}

.access__box {
width: 100%;
}

.access__box.second {
margin-top: 17px;
}

.access__image {
width: 100%;
object-fit: cover;
}

.access__container.third {
width: 100%;
max-width: 800px;
margin: 147px auto 0;
padding: 0 10px;
}

.access__description {
font-size: 1.8rem;
line-height: 2.3;
margin-top: 45px;
}

@media screen and (max-width: 767px) {
.access__wrapper {
padding: 5vw 0 17vw;
}
.access__title.top {
text-align: center;
font-size: 2em;
color: #032b6d;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
}
.access__title.bottom {
text-align: center;
font-size: 2em;
color: #000000;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
margin-top: 1.8vw;
}
.access__content {
font-size: 1.1em;
line-height: 1.75;
text-align: center;
margin-top: 3.7vw;
padding: 0 10px;
}
.access__container.second {
margin: 6vw auto 0;
}
.access__container.third {
margin: 47px auto 0;
}
.access__description {
margin-top: 25px;
padding: 0 10px;
font-size: 1.2em;
}
}

@media screen and (max-width: 499px) {
.access__title.top {
text-align: center;
font-size: 1.8em;
color: #032b6d;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
}
.access__title.bottom {
text-align: center;
font-size: 1.6em;
color: #000000;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
margin-top: 1.8vw;
}
.access__content {
font-size: 1em;
line-height: 1.75;
text-align: center;
margin-top: 3.7vw;
padding: 0 10px;
}
.access__description {
margin-top: 25px;
padding: 0 10px;
font-size: 1.1em;
line-height: 27px;
}
}

.benefit {
width: 100%;
}

.benefit__wrapper {
width: 100%;
background: url(../images/bg_benefit_001.jpg) no-repeat center top/contain;
padding-top: 6.8vw;
}

.benefit__container.first {
width: 100%;
max-width: 1000px;
padding: 3.2vw 10px 3.1vw;
margin: 0 auto;
}

.benefit__title {
font-size: 4rem;
color: #000000;
letter-spacing: 3px;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
text-align: center;
}

.benefit__title.bottom {
margin-top: 1.8vw;
}

.benefit__title.bottom > span {
text-align: center;
font-size: 4.6rem;
color: #032b6d;
letter-spacing: 3px;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
}

.benefit__container.second {
width: 100%;
max-width: 1000px;
margin: 6.1vw auto;
padding: 0 10px;
}

.benefit__box {
width: 100%;
}

.benefit__box.second {
margin-top: 76px;
}

.benefit__image {
width: 100%;
object-fit: cover;
}

@media screen and (max-width: 767px) {
.benefit__title {
font-size: 2em;
color: #000000;
letter-spacing: 3px;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
text-align: center;
}
.benefit__title.bottom > span {
text-align: center;
font-size: 1.2em;
color: #032b6d;
letter-spacing: 3px;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
}
.benefit__box.second {
margin-top: 25px;
}
}
@media screen and (max-width: 499px) {
.benefit__title {
font-size: 1.5em;
color: #000000;
letter-spacing: 3px;
text-shadow: 2px 2px 8px #ffffff, -2px 2px 8px #ffffff, 2px -2px 8px #ffffff, -2px -2px 8px #ffffff, 2px 0px 8px #ffffff, 0px 2px 8px #ffffff, -2px 0px 8px #ffffff, 0px -2px 8px #ffffff;
text-align: center;
}
}

.contact {
width: 100%;
}

.contact__wrapper {
width: 100%;
background-color: #032B6D;
padding: 4.1vw 0 3.8vw;
text-align: center;
}

.contact__title {
font-size: 4rem;
color: #ffffff;
}

.contact__title.second {
margin-top: 1.6vw;
}

.contact__title.third {
font-size: 5.4rem;
color: #ffffff;
margin-top: 1.7vw;
}

.contact__content {
font-size: 1.8rem;
font-family: 'Meiryo';
line-height: 2;
text-align: center;
margin-top: 116px;
padding: 0 10px;
}

@media screen and (max-width: 767px) {
.contact__content {
margin-top: 15vw;
}
}

.overview {
width: 100%;
max-width: 580px;
margin: 100px auto 100px;
padding: 0 10px;
}

.overview__title {
font-size: 2.6rem;
color: #ffffff;
background-color: #000000;
text-align: center;
padding: 11px 0;
}

.overview__box {
margin-top: 17px;
}

.overview__detail {
font-size: 1.8rem;
line-height: 1.5;
}

.overview__detail > span {
margin-left: 12px;
}

.overview__detail > span:first-of-type {
margin-left: 0;
}

.overview__detail > span:before {
display: inline-block;
content: '■';
}

@media screen and (max-width: 767px) {
.overview {
margin: 14vw auto 0;
}
.overview__title {
font-size: 1.5em;
color: #ffffff;
background-color: #000000;
text-align: center;
padding: 11px 0;
}
.overview__detail {
margin-bottom: 20px;
font-size: 1em;
line-height: 1.5;
}
}

@media screen and (max-width: 499px) {
.overview__title {
font-size: 1em;
color: #ffffff;
background-color: #000000;
text-align: center;
padding: 11px 0;
}
}

@media screen and (max-width: 768px) {

/*-- entryform --*/
h2.entryform {
background-color: #AF3845;
color: #fff;
text-align: center;
padding: 15px;
line-height: 1.5;
font-size: 1.8em;
}
.entryform h2 img {
padding: 4vw;
}
.entryform .main-entryform-001 {
margin: 0px 10px 15px;
}
.entryform p.entryform-text {
margin: 5px 0px 5px;
text-align: center;
font-size: 0.9em;
color: #666666;
}
.entryform table {
width: 100%;
}
.entryform span {
color: #aa0000;
font-size: 0.8em;
font-weight: normal;
}
.entryform label {
display: block;
}
.entryform td {
max-width: 100%;
padding: 8px 0px;
font-size: 1.2em;
display: block;
background-color: #EDEAE1;
}
.entryform td:nth-of-type(1) {
max-width: 100%;
padding: 5px 0px;
text-indent: 8px;
font-size: 16px;
font-weight: bold;
background-color: #dddddd;
-webkit-border-radius: 6px 6px 0px 0px;
-moz-border-radius: 6px 6px 0px 0px;
border-radius: 6px 6px 0px 0px;
}
.entryform td:nth-of-type(2) {
max-width: 100%;
padding: 20px 8px;
font-size: 12px;
text-align: center;
-webkit-border-radius: 0px 0px 6px 6px;
-moz-border-radius: 0px 0px 6px 6px;
border-radius: 0px 0px 6px 6px;
}
.entryform input {
max-width: 80%;
font-size: 16px;
}
.entryform .submit {
padding: 8px 0px 20px;
text-align: center;
}
.entryform .submit input {
margin: 0px auto;
border: none;
padding: 11px 18px;
color: #ffffff;
font-size: 16px;
text-decoration: none;
display: block;
cursor: pointer;
background-color: #B20000;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}
.entryform dl:after {
content: "";
display: block;
clear: both;
}
.entryform dl dt {
padding: 8px 8px 0px 8px;
margin: 0px 0px 0px 20px;
float: left;
}
.entryform dl dt:nth-of-type(2) {
margin: 10px 0px 0px 20px;
padding: 8px 8px 0px 8px;
float: left;
clear: both;
}
.entryform dl dd:nth-of-type(2) {
margin: 10px 0px 0px;
}
.entryform dl dd {
float: left;
margin: 0px;
padding: 0px;
}
.entryform.mail input {
width: 300px;
font-size: 1.6em;
}
.entryform.mail .submit input {
width: auto;
}
.entryform.mail td {
display: block;
text-align: center;
}
.entryform.mail td.submit {
padding: 10px 0px 20px;
}
.entryform label.error {
color: #aa0000;
}
.entryform p {
margin: 10px auto;
text-align: center;
font-size: 0.9em;
color: #666666;
}
span.contact__title.first {
padding: 0;
color: #ffffff;
background-color: unset;
}

/*-- contact --*/
.contact {
width: 90%;
margin: 0px auto 50px;
padding: 10px;
text-align: center;
box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 33%);
}
.contact h2 {
color: #947D62;
margin-bottom: 6px;
}
.contact h3 {
padding: 5px;
color: #fff;
font-weight: bold;
background-color: #947D62;
}
.contact .logo {
margin: 20px auto 10px;
}
.contact .phone {
margin: 10px;
}
p.phone img {
width: 85%;
}
.contact p.time {
border-bottom: 1px solid #e0e0e0;
padding-bottom: 7px;
font-size: 0.8em;
}
.contact .logo img {
width: 55%;
}

/*-- banner --*/
.banner {
margin-top: 30px;
width: 100%;
background-color: #333;
}
.banner h2 {
padding-top: 22px;
color: #fff;
font-size: 1.5em;
font-weight: 300;
text-align: center;
}
.banner li {
margin: 15px auto;
list-style: none;
text-align: center;
}

@media screen and (max-width: 499px) {
.banner h2 {
padding-top: 22px;
color: #fff;
font-size: 1.2em;
font-weight: 300;
text-align: center;
}
}
.wako-banner-list {
padding: 10px;
}

/*-- footer --*/
footer {
background-color: #000;
color: #fff;
text-align: center;
padding: 20px 0px;
}
footer img {
width: 60%;
}
.footerlogo {
width: 70%;
margin: 10px auto 20px;
}
footer .box-001 {
width: 90%;
margin: 0px auto;
color: #888888;
font-size: 1.0rem;
}
p.footerphone {
margin-bottom: 30px;
}
p.footertime {
width: 90%;
margin: 0px auto 5px;
font-size: 1.0em;
}
p.copyright a {
color: #888888;
text-decoration: none;
}
p.copyright a:hover{
text-decoration: underline;
}

@media screen and (max-width: 499px) {
.copyright {
font-size: 0.8em;
}

}
/*-- thanks --*/
#thanks .content {
text-align: center;
padding: 60px 0px 0px 0px;
font-size: 1.2em;
font-weight: 600;
}
/*-- privacy --*/
.privacy {
margin: 15px 0px 25px;
padding: 0px 25px;
font-weight: 500;
}
.privacy h3 {
margin: 0px 0px 16px;
padding: 0px;
text-align: left;
border-bottom: solid 1px #eeeeee;
}
.privacy p {
margin: 0px 0px 16px;
text-align: left;
}

/*-- /タブレット用 --*/
}



/*-- Pc --*/
@media screen and (min-width: 769px) {

/*-- common --*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: bottom;
}
a {
color: #333333;
text-decoration: none;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
html {
font-size: 0.78125vw;
}
h2 {
text-align: center;
}

body {
margin: 0;
background-color: #fff;
color: #333;
font-family: 'Noto Serif JP', serif;
font-size:1.0rem;
line-height: 1;
line-height:1.85;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-text-size-adjust: 100%; 
word-wrap: break-word;
-webkit-text-size-adjust: 100%;
 -moz-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
text-size-adjust: 100%;
}
*,
*::before,
*::after {
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
button, input, select, textarea {
font-family: inherit;
}
img {
vertical-align: middle;
height: auto;
}

#content .clearfix:after {
clear: both;
display: block;
content: "";
}



/*-- entryform --*/
h2.entryform {
background-color: #AF3845;
}
.entryform h2 img {
width: 80%;
padding: 4vw;
}
.entryform h2 {
font-size: 5.2rem;
color: #ffffff;
padding: 10px 0px 25px 0px;
line-height: 1.4;
}
.entryform {
font-size: 16px;
}
.main-entryform-001 p.text-001 {
margin: 30px auto 30px;
}
.title-entryform {
margin: 0px 0px 20px;
}
.text-entryform-001 {
margin: 0px 0px 10px;
}
.entryform p {
text-align: center;
}
.entryform .attention {
color: #888888;
}
.entryform label.error {
position: absolute;
margin: -52px 0px 0px 0px;
display: block;
background-color: #ee0000;
color: #ffffff;
font-size: 10px;
padding: 2px 15px;
border-radius: 5px;
-moz-opacity: 0.60;
-khtml-opacity: 0.60;
opacity: 0.60;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=60);
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
filter:alpha(opacity=60);
}
.entryform label.error:before {
content: "";
position: absolute;
bottom: -10px;
left: 18px;
border: 5px solid transparent;
border-top: 5px solid #ee0000;
}
.entryform input.error {
border: solid 1px #ff7777;
}
.entryform dl {
margin: 0px;
padding: 0px;
}
.entryform dl dt {
padding: 8px 0px 0px;
float: left;
}
.entryform dl dt:nth-of-type(2) {
padding: 8px 0px 0px 15px;
}
.entryform dl dd {
padding: 0px;
margin: 0px 0px 0px 8px;
float: left;
}
.entryform.confirm dl dd {
padding: 0px;
margin: 9px 0px 0px 8px;
float: left;
}
.entryform textarea {
width: 480px;
}
.entryform table {
width: 820px;
margin: 0px auto 24px;
padding: 0px;
border: solid 2px #aaaaaa;
border-collapse: collapse;
}
.entryform table td:nth-of-type(odd) {
width: 200px;
padding: 8px 16px;
border-right: solid 1px #ffffff;
border-bottom: solid 1px #ffffff;
background-color: #dddddd;
vertical-align: middle;
}
.entryform table td:nth-of-type(even) {
padding: 8px 16px;
background-color: #EDEAE1;
border-bottom: solid 1px #ffffff;
}
.entryform span {
padding: 1px 8px;
font-size: 12px;
color: #ffffff;
background-color: #aa0000;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
vertical-align: middle;
}
.entryform .color {
padding: 1px 8px;
font-size: 12px;
color: #000000;
background-color: #EDEAE1;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
vertical-align: middle;
}
.entryform input {
padding: 5px 8px;
font-size: 16px;
font-family: メイリオ, "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", Arial, sans-serif;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
border: solid 1px #dddddd;
}
.entryform textarea {
padding: 5px 8px;
font-size: 16px;
font-family: メイリオ, "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", Arial, sans-serif;
}
.entryform .submit {
padding: 20px 0px;
text-align: center;
}
.entryform .submit input {
padding: 6px 24px 8px;
border:none;
color: #ffffff;
font-size: 24px;
border: none;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
background-color: #B20000;
-webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:1px 1px 3px 0px rgba(50, 50, 50, 0.75);
box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.75);
}
.entryform .submit input:hover {
cursor: pointer;
background-color: #d31d1d;
}
span.contact__title.first {
padding: 0;
font-size: 4rem;
color: #ffffff;
background-color: unset;
}

/*-- contact --*/
.contact {
width: 800px;
margin: 40px auto;
padding: 25px;
text-align: center;
box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 33%);
}
.contact h2 {
font-size: 2.5rem;
color: #947D62;
font-weight: bold;
margin-bottom: 6px;
}
.contact h3 {
padding: 8px;
font-size: 20px;
color: #fff;
font-weight: 500;
background-color: #947D62;
}
.contact .phone {
margin: 15px 0px 0px 0px;
}
.contact p.time {
margin: 8px auto 0px;
border-bottom: 1px solid #e0e0e0;
padding-bottom: 7px;
font-size: 16px;
}
.contact .logo {
margin-top: 20px;
}

/*-- banner --*/
.banner {
margin-top: 100px;
width: 100%;
background-color: #333;
}
.banner h2 {
text-align: center;
padding-top: 30px;
color: #fff;
font-size: 2.0rem;
font-weight: 500;
}
.banner li {
margin: 0 1vw 0 1vw;
float: left;
}
.wako-banner-list {
width: 88vw;
height: 12vw;
margin: 20px auto 0px;
text-align: center;
}
.wako-banner-list ul li img {
width: 20vw;
}

/*-- footer --*/
footer {
background-color: #000;
color: #fff;
text-align: center;
padding: 40px 0px;
}
.footerlogo {
margin-bottom: 25px;
}
footer .box-001 {
margin: 0px auto;
color: #888888;
padding-top: 10px;
font-size: 1.5rem;
}
p.copyright a {
color: #888888;
text-decoration: none;
}
p.copyright a:hover{
text-decoration: underline;
}
p.footertime {
line-height: 3;
font-size: 1.5rem;
font-weight: lighter;
}


/*-- thanks --*/
#thanks .content {
text-align: center;
padding: 60px 0px 0px 0px;
font-size: 2.0rem;
font-weight: 600;
}

/*-- privacy --*/
.privacy {
    padding: 0px 25px;
    line-height: 1.8;
    font-weight: 500;
    width: 90%;
    margin: 0px auto;
    text-align: left;
}
.privacy h3 {
margin: 0px 0px 16px;
padding: 0px;
text-align: left;
border-bottom: solid 1px #eeeeee;
}
.privacy p {
margin: 0px 0px 16px;
text-align: left;
}

/*-- /Pc --*/
}


/*-- jQuery --*/
/*-- css mov --*/
#header.DownMove {
animation: DownAnime 0.5s forwards;
animation-duration: 0.5s;
animation-timing-function: ease;
animation-delay: 0s;
animation-iteration-count: 1;
animation-direction: normal;
animation-fill-mode: forwards;
animation-play-state: running;
animation-name: DownAnime;
}
#header.DownMove{
animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
from {
opacity: 0;
transform: translateY(-100px);
}
to {
opacity: 1;
transform: translateY(0);
}
}

.fadeUp {
animation-name: fadeUpAnime;
animation-duration:2s;
animation-fill-mode:forwards;
opacity: 0;
}
@keyframes fadeUpAnime{
from {
opacity: 0;
transform: translateY(100px);
}
to {
opacity: 1;
transform: translateY(0);
}
}

.fadeRight{
animation-name:fadeRightAnime;
animation-duration:2.5s;
animation-fill-mode:forwards;
opacity:0;
}
@keyframes fadeRightAnime{
from {
opacity: 0;
transform: translateX(100px);
}

to {
opacity: 1;
transform: translateX(0);
}
}

.fadeLeft{
animation-name:fadeLeftAnime;
animation-duration:2.5s;
animation-fill-mode:forwards;
opacity:0;
}

@keyframes fadeLeftAnime{
from {
opacity: 0;
transform: translateX(-100px);
}

to {
opacity: 1;
transform: translateX(0);
}
}

.fadeInTrigger,
.fadeUpTrigger,
.fadeDownTrigger,
.fadeLeftTrigger,
.fadeRightTrigger{
 opacity: 0;
}